<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="rapi4j.ui.status">
         </toolbar>         
      </menuContribution>
      <menuContribution
            locationURI="menu:rapi4j.ui.tools">
         <command
               commandId="rapi4j.ui.tools.DefaultCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:rapi4j.ui.status">
         <command
               commandId="rapi4j.ui.tools.DefaultCommand"
               disabledIcon="icons/e16/ActiveSync_inactive.png"
               icon="icons/e16/ActiveSync_active.png"
               id="rapi4j.ui.tools"
               style="pulldown">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Show Device Properties"
            id="rapi4j.ui.tools.DefaultCommand"
            name="Properties">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.topsystem.activesync.ui.internal.ShowCommSettingsHandler"
            commandId="rapi4j.ui.tools.DefaultCommand">
         <enabledWhen>
            <with
                  variable="osgi.services">
               <iterate
                     operator="or">
                  <equals
                        value="rapi4j.ActiveSyncDevice">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.topsystem.activesync.ui.internal.SystemPropertyPage"
            id="rapi4j.ui.properties.system"
            name="System">
         <enabledWhen>
            <adapt
                  type="rapi4j.ActiveSyncDevice">
            </adapt>
         </enabledWhen>
         <keywordReference
               id="rapi4j.ui.cpu"></keywordReference>
      </page>
      <page
            class="de.topsystem.activesync.ui.internal.SystemPropertyPage"
            id="rapi4j.ui.properties.battery"
            name="Battery">
         <enabledWhen>
            <adapt
                  type="rapi4j.ActiveSyncDevice">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="rapi4j.ActiveSyncDevice"
            class="de.topsystem.activesync.ui.internal.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="rapi4j.ui.cpu"
            label="CPU">
      </keyword>
   </extension>

   <extension point="rapi4j.ui.advisor.actions">
      <command
            command="rapi4j.ui.tools.DefaultCommand()">
      </command>
   </extension>   
</plugin>
