<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:rapi4j.ui.status">
         <control
               class="rapi4j.examples.memmonitor.ui.internal.MemoryStatusControl">
         </control>
      </menuContribution>
   </extension>

</plugin>
